*{
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto+Condensed:wght@300;400&family=Rubik:wght@400;600&display=swap');

